{% extends "base.html" %}
{% block content %}
<div class="center">
    <table align="center" style="width:40%">
        <tr>
            <th>Place</th>
            <th>Username</th>
            <th>Highscore</th>
        </tr>
        <tr onclick="topUser(document.getElementById('p1').innerText)">
        <td>1.</td>
        <td id="p1">{{ p1[1] }}</td>
        <td>{{p1[2]}}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p2').innerText)">
            <td>2.</td>
            <td id="p2">{{ p2[1] }}</td>
            <td>{{p2[2]}}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p3').innerText)">
            <td>3.</td>
            <td id="p3">{{ p3[1] }}</td>
            <td>{{ p3[2] }}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p4').innerText)">
            <td>4.</td>
            <td id="p4">{{ p4[1] }}</td>
            <td>{{p4[2]}}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p5').innerText)">
            <td>5.</td>
            <td id="p5">{{ p5[1] }}</td>
            <td>{{ p5[2] }}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p6').innerText)">
            <td>6.</td>
            <td id="p6">{{ p6[1] }}</td>
            <td>{{ p6[2] }}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p7').innerText)">
            <td>7.</td>
            <td id="p7">{{ p7[1] }}</td>
            <td>{{ p7[2] }}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p8').innerText)">
            <td>8.</td>
            <td id="p8">{{ p8[1] }}</td>
            <td>{{ p8[2] }}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p9').innerText)">
            <td>9.</td>
            <td id="p9">{{ p9[1] }}</td>
            <td>{{ p9[2] }}</td>
        </tr>
        <tr onclick="topUser(document.getElementById('p10').innerText)">
            <td>10.</td>
            <td id="p10">{{ p10[1] }}</td>
            <td>{{ p10[2] }}</td>
        </tr>
    </table>
</div>
{% endblock %}