{% extends "base.html" %}
{% block content %}
<div class="center">
    <table align="center" style="width:40%">
        <tr>
            <th>Place</th>
            <th>Username</th>
            <th>Highscore</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>{{ p1[1] }}</td>
            <td>{{p1[2]}}</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>{{ p2[1] }}</td>
            <td>{{p2[2]}}</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>{{ p3[1] }}</td>
            <td>{{ p3[2] }}</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>{{ p4[1] }}</td>
            <td>{{p4[2]}}</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>{{ p5[1] }}</td>
            <td>{{ p5[2] }}</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>{{ p6[1] }}</td>
            <td>{{ p6[2] }}</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>{{ p7[1] }}</td>
            <td>{{ p7[2] }}</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>{{ p8[1] }}</td>
            <td>{{ p8[2] }}</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>{{ p9[1] }}</td>
            <td>{{ p9[2] }}</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>{{ p10[1] }}</td>
            <td>{{ p10[2] }}</td>
        </tr>
    </table>
</div>
{% endblock %}